/28tech
/28tech_demo.txt
/bacn.c
/bacn.exe
/c
/chuoi.exe
/const_chuoi.exe
/countline.exe
/countspacetab.exe
/deletespace.exe
/mang.exe
/tempCodeRunnerFile.c
/tempCodeRunnerFile.exe
/test.exe
/testc++.exe